:root {
  --primary: #ec9e37;
  --bg: #d3d3d3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: #fff;
}

html {
  scroll-behavior: smooth;
}

/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgba(1, 1, 1, 0.8);
  /* border-bottom: 1px solid var(--primary); */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--primary);
  font-style: italic;
}

.navbar .navbar-nav a {
  color: #fff;
  display: inline-block;
  font-size: 1.3rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: #fff;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: var(--primary);
}

#menu {
  display: none;
}

/* hero section */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5.5rem;
}

.carousel {
  position: relative;
  width: 1495px;
  height: 600px;
  overflow: hidden;
}

.carousel-images {
  display: flex;
  transition: transform 3s ease-in-out;
}

.carousel-item {
  min-width: 100%;
  height: 600px;
  box-sizing: border-box;
}

.carousel-item img {
  width: 100%;
  display: block;
}

/* Animation */
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  33.33% {
    transform: translateX(-100%);
  }
  66.66% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0);
  }
}

.carousel-images {
  animation: slide 15s infinite;
}

/* .hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgb(211, 211, 211) 8%,
    rgba(255, 255, 255, 0) 20%
  );
} */

.hero .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
}

/* .hero .content h1 {
  font-size: 3em;
  color: var(--primary);
  text-shadow: 1px 1px 3px rgba(1, 1, 1, 0.5);
  line-height: 1.2;
  font-weight: bold;
} */

/* .hero .content p {
  font-size: 1.4rem;
  margin-top: 1rem;
  line-height: 1.4rem;
  color: var(--primary);
  font-weight: bold;
} */

.hero .content p span {
  color: #010101;
}

/* .hero .content .cta {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  color: #fff;
  background-color: var(--primary);
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
} */

.hero .socials-logo {
  display: flex;
  position: fixed; /* Logo akan tetap di posisi yang sama meskipun halaman digulir */
  bottom: 150px; /* Jarak dari bagian bawah */
  right: 30px; /* Jarak dari sisi kanan */
  z-index: 1000;
  width: 4%;
  height: 8%;
  gap: 10px;
  flex-wrap: wrap;
}

.hero .socials-logo .icon {
  display: inline-block;
  text-decoration: none;
  color: white;
  font-size: 15px;
  transition: color 0.3s, transform 0.3s;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.hero .socials-logo .icon:hover {
  color: #fff;
  transform: scale(1.1);
}

.hero .socials-logo .whatsapp {
  background-color: #25d366;
}

.hero .socials-logo .instagram {
  background-color: #e4405f;
}

.hero .socials-logo .tiktok {
  background-color: #000;
}

/* about section */
.about,
.produk,
.contact {
  padding: 8rem 7% 1.4rem;
}

.about h2,
.produk h2,
.contact h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
  color: #010101;
}

.about h2 span,
.produk h2 span,
.contact h2 span {
  color: var(--primary);
}

.about .row {
  display: flex;
}

.about .row .about-img {
  flex: 1 1 35rem;
  padding-left: 10%;
}

.about .row .about-img img {
  width: 70%;
}

.about .row .content {
  flex: 1 1 30rem;
  padding: 0 1rem;
}

.about .row .content .cta {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  color: #fff;
  background-color: var(--primary);
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

/* .about .row .content h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
} */

.about .row .content p {
  margin-bottom: 0.8rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.6rem;
  /* text-align: start; */
  color: #010101;
}

/* produk section */
.produk h2,
.contact h2 {
  margin-bottom: 1rem;
}

.produk p,
.contact p {
  text-align: center;
  max-width: 30rem;
  margin: auto;
  font-weight: 500;
  /* line-height: 1.6rem; */
  font-size: 1.7rem;
  color: #010101;
}

.produk .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  justify-content: center;
  margin-bottom: 5rem;
}

.produk .row .card {
  width: 300px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
  margin-left: 1rem;
  position: relative;
  margin-bottom: 1rem;
}

.produk .row .card:hover {
  transform: translateY(-5px);
}

.produk .row .card-image {
  width: 100%;
  height: auto;
}

.produk .row .card-content {
  padding: 16px;
}

.produk .row .card-title {
  font-size: 1.5rem;
  margin-top: 0;
  font-weight: bold;
  color: var(--primary);
}

.produk .row .card-text {
  font-size: 2rem;
  text-align: left;
  font-weight: bold;
  color: black;
}

.produk .row .card-button {
  display: inline-block;
  padding: 8px 16px;
  background-color: var(--primary);
  color: black;
  text-decoration: none;
  border-radius: 4px;
  position: absolute;
  bottom: 10px; /* Atur jarak dari bawah */
}

.produk .row ol {
  padding: 1.1rem;
  margin-bottom: 20px;
}

.produk .row ol li {
  color: black;
  font-weight: bold;
}

.produk .cta {
  margin-top: -3rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  color: #fff;
  background-color: var(--primary);
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  margin-left: 40rem;
  margin-bottom: 3rem;
}

/* .produk .row .card-button:hover {
  background-color: #0056b3;
} */

/* contact session */
.contact .row {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
  height: 0;
  overflow: hidden;
  max-width: 100%;
  background: #eee;
}

.contact .row .map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.contact .row form {
  flex: 1 1 45rem;
  padding: 5rem 2rem;
  text-align: center;
}

.contact .row form .input-group {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  background-color: var(--bg);
  border: 1px solid #eee;
  padding-left: 2rem;
}

.contact .row form .input-group input {
  width: 100%;
  padding: 2rem;
  font-size: 1.7rem;
  background: none;
  color: #fff;
}

.contact .row form .btn {
  margin-top: 3rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  color: #fff;
  background-color: var(--primary);
  cursor: pointer;
}

/* footer */
footer {
  background-color: var(--primary);
  text-align: center;
  padding: 1rem 0 3rem;
  margin-top: 3rem;
}

footer .socials {
  padding: 1rem 0;
}

footer .socials a {
  color: #fff;
  margin: 1rem;
}

footer .socials a:hover {
  color: var(--bg);
}

footer .links {
  margin-bottom: 1.4rem;
}

footer .links a {
  color: #fff;
  padding: 0.7rem 1rem;
}

footer .links a:hover {
  color: var(--bg);
}

footer .credit {
  font-size: 0.8rem;
}

footer .credit a {
  color: var(--bg);
  font-weight: 700;
}

/* media queries */

/* laptop */
@media (max-width: 1025px) {
  html {
    font-size: 60%;
  }
}

/* tablet */
@media (max-width: 601px) and (max-width: 1024px) {
  html {
    font-size: 50%;
  }

  #menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #fff;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: #010101;
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }

  .about .row {
    flex-wrap: wrap;
  }

  .about .row .about-img img {
    height: 40rem;
    width: 100%;
    object-fit: cover;
    object-position: center;
    margin-left: 5rem;
  }

  .about .row .content {
    padding: 0;
  }

  .about .row .content h3 {
    margin-top: 1rem;
    font-size: 2rem;
  }

  .about .row .content p {
    font-size: 1.6rem;
  }

  .produk .row .card {
    margin-bottom: 1rem;
  }

  .contact .row form {
    padding-top: 0;
  }

  .produk .cta {
    margin-left: 13rem;
  }
}

/* Mobile phone */
@media (max-width: 600px) {
  html {
    font-size: 55%;
  }

  .hero .socials-logo .icon {
    font-size: 15px;
    width: 50px;
    height: 45px;
  }

  .carousel {
    position: relative;
    width: 1495px;
    overflow: hidden;
  }

  .carousel-item {
    min-height: 100%;
    box-sizing: border-box;
  }

  .carousel-item img {
    height: 100%;
    display: block;
  }
}
